/* VARIABLES */
:root {
  --one: #ffa35c;
  --two: #cc6a58;
  --three: #4a3533;
  --four: #000;
  --five: #fff;
  --six: #ccc8c8;
}

/* PREREQUISITES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
}

hr {
  width: 85%;
  border-color: var(--lighter-bg-color);
  transition: 0.4s !important;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

a {
  text-decoration: none;
}

.mainBod{
display: none;
}

/* LOADER */
.loads-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 22%;
  
}
.loads-grid div {
  position: absolute;
  width: 21px;
  height: 21px;
  background: var(--three);
  animation: lds-grid 1.2s linear infinite;
}
.loads-grid div:nth-child(1) {
  top: 15px;
  left: 15px;
  animation-delay: 0s;
}
.loads-grid div:nth-child(2) {
  top: 15px;
  left: 39px;
  animation-delay: -0.4s;
}
.loads-grid div:nth-child(3) {
  top: 15px;
  left: 63px;
  animation-delay: -0.8s;
}
.loads-grid div:nth-child(4) {
  top: 39px;
  left: 15px;
  animation-delay: -0.4s;
}
.loads-grid div:nth-child(5) {
  top: 39px;
  left: 39px;
  animation-delay: -0.8s;
}
.loads-grid div:nth-child(6) {
  top: 39px;
  left: 63px;
  animation-delay: -1.2s;
}
.loads-grid div:nth-child(7) {
  top: 63px;
  left: 15px;
  animation-delay: -0.8s;
}
.loads-grid div:nth-child(8) {
  top: 63px;
  left: 39px;
  animation-delay: -1.2s;
}
.loads-grid div:nth-child(9) {
  top: 63px;
  left: 63px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* HOME */
#home{
  background-color: #fff;
}

#home h1{
  font-size: 50px;
  color: var(--font-color);
  text-align: center;
}

/*CHOCO 1*/
.choco1{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/bruh.png');
}

.choco1 h1{
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding-bottom: 5%;
  padding-left: 2%;
}

.choco1 img{
  height: 75%;
  width: 65%;
  animation: float 6s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
}

.choco1 h2{
  color: #fff;
  font-size: 23px;
  text-align: left;
  padding-left: 2%;
  font-family: 'Poppins', sans-serif;
}

.choco1 h3{
  color: #fff;
  font-size: 23px;
  text-align: center;
  padding-bottom: 15%;
  padding-left: 2%;
}

.choco1 .but{
  color: #eee;
  border: 3px solid #eee;
  padding: 3%;
  width: 40%;
  transition: 0.4s;
}

.choco1 .but:hover{
  border: 4px solid #eee;
}

/*CHERRY*/
.cherry{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/cherry.png');
}

.cherry h1{
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding-bottom: 5%;
  padding-left: 2%;
}

.cherry img{
  height: 75%;
  width: 65%;
  animation: float 6s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
}

.cherry h2{
  color: #fff;
  font-size: 23px;
  text-align: left;
  padding-left: 2%;
  font-family: 'Poppins', sans-serif;
}

.cherry h3{
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding-bottom: 15%;
  padding-left: 2%;
}

.cherry .but{
  color: #eee;
  border: 3px solid #eee;
  padding: 3%;
  width: 38%;
  transition: 0.4s;
}

.cherry .but:hover{
  border: 4px solid #eee;
}

/*MINT*/
.mint{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/green.png');
}

.mint h1{
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding-bottom: 5%;
  padding-left: 2%;
}

.mint img{
  height: 75%;
  width: 65%;
  animation: float 6s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
}

.mint h2{
  color: #fff;
  font-size: 23px;
  text-align: left;
  padding-left: 2%;
  font-family: 'Poppins', sans-serif;
}

.mint h3{
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding-bottom: 15%;
  padding-left: 2%;
}

.mint .but{
  color: #eee;
  border: 3px solid #eee;
  padding: 3%;
  width: 38%;
  transition: 0.4s;
}

.mint .but:hover{
  border: 4px solid #eee;
}

/*STRAWBERRY*/
.berry{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/strawberry.png');
}

.berry h1{
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding-bottom: 5%;
  padding-left: 2%;
}

.berry img{
  height: 75%;
  width: 65%;
  animation: float 6s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
}

.berry h2{
  color: #fff;
  font-size: 23px;
  text-align: left;
  padding-left: 2%;
  font-family: 'Poppins', sans-serif;
}

.berry h3{
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding-bottom: 15%;
  padding-left: 2%;
}

.berry .but{
  color: #eee;
  border: 3px solid #eee;
  padding: 3%;
  width: 38%;
  transition: 0.4s;
}

.berry .but:hover{
  border: 4px solid #eee;
}

/*WHITE*/
.white{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/white.png');
}

.white h1{
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding-bottom: 5%;
  padding-left: 2%;
}

.white h2{
  color: #fff;
  font-size: 23px;
  text-align: left;
  padding-left: 2%;
  font-family: 'Poppins', sans-serif;
}

.white h3{
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding-bottom: 15%;
  padding-left: 2%;
}

.white .but{
  color: #eee;
  border: 3px solid #eee;
  padding: 3%;
  width: 38%;
  transition: 0.4s;
}

.white img{
  height: 75%;
  width: 65%;
  animation: float 6s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
}

.white .but:hover{
  border: 4px solid #eee;
}

/*YELLOW*/
.yellow{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/yellow.png');
}

.yellow h1{
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding-bottom: 5%;
  padding-left: 2%;
}

.yellow img{
  height: 75%;
  width: 65%;
  animation: float 6s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
}

.yellow h2{
  color: #fff;
  font-size: 23px;
  text-align: left;
  padding-left: 2%;
  font-family: 'Poppins', sans-serif;
}

.yellow h3{
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding-bottom: 15%;
  padding-left: 2%;
}

.yellow .but{
  color: #eee;
  border: 3px solid #eee;
  padding: 3%;
  width: 38%;
  transition: 0.4s;
}

.yellow .but:hover{
  border: 4px solid #eee;
}

/*FOOTER*/
#footer{
  background-color: var(--four);
  color: var(--five);
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: left;
}

#footer .row{
  padding: 1%;
}

#footer .col-md-2{
  padding: 1%;
}

#footer h1{
  color: var(--five);
  font-size: 27px;
  text-align: left;
}

#footer p{
  padding: 1%;
  font-size: 15px;
  color: var(--six);
}

#footer h2{
  padding: 1%;
  font-size: 20px;
  color: var(--six);
}

#footer img{
  height: 200px;
  width: 270px;
  transition: 0.4s;
  padding-bottom: 2%;
  padding: 1%;
}

#footer img:hover{
  transform: scaleX(1.1) scaleY(1.1);
}

/*ANIMATIONS*/
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}