/* VARIABLES */
:root {
  --one: #ffa35c;
  --two: #cc6a58;
  --three: #4a3533;
  --font-color: #000;
  --bg-color: #fff;
  --switch-bg-color: rgba(0, 0, 0, 0.15);
  --loader-bg-color: #ffffff;
  --scroll-bg-color: #eee;
  --scroll-fg-color: #ccc;
  --moon: block;
  --sun: none;
  --invert: invert(0%);
}

/* PREREQUISITES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
}

hr {
  width: 85%;
  border-color: var(--lighter-bg-color);
  transition: 0.4s !important;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.8;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
  opacity: 1;
}

.mainBod{
display: none;
}

/* LOADER */
.loads-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 22%;
  
}
.loads-grid div {
  position: absolute;
  width: 21px;
  height: 21px;
  background: var(--three);
  animation: lds-grid 1.2s linear infinite;
}
.loads-grid div:nth-child(1) {
  top: 15px;
  left: 15px;
  animation-delay: 0s;
}
.loads-grid div:nth-child(2) {
  top: 15px;
  left: 39px;
  animation-delay: -0.4s;
}
.loads-grid div:nth-child(3) {
  top: 15px;
  left: 63px;
  animation-delay: -0.8s;
}
.loads-grid div:nth-child(4) {
  top: 39px;
  left: 15px;
  animation-delay: -0.4s;
}
.loads-grid div:nth-child(5) {
  top: 39px;
  left: 39px;
  animation-delay: -0.8s;
}
.loads-grid div:nth-child(6) {
  top: 39px;
  left: 63px;
  animation-delay: -1.2s;
}
.loads-grid div:nth-child(7) {
  top: 63px;
  left: 15px;
  animation-delay: -0.8s;
}
.loads-grid div:nth-child(8) {
  top: 63px;
  left: 39px;
  animation-delay: -1.2s;
}
.loads-grid div:nth-child(9) {
  top: 63px;
  left: 63px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/*NAVBAR*/
/* Counters 
.menu ol { 
  counter-reset:menu;
}
/* Regular menu items
.menu-item a {
  color: var(--font-color);
  display:flex;
  justify-content:flex-start; 
  color:currentColor;
  text-decoration:none;
  padding:13px 0;
  order:0;
}

.menu-item a::before { 
  content:"";
  display:block;
  border-bottom: 1px dotted var(--font-color);
  position:relative; top:-5px;
  flex:1 1 auto;
  margin:0 10px;
  order:1;
}

.menu-item a::after { 
  counter-increment:menu;
  content:counters(menu, ".");
  flex:0 0 auto;
  order:2;
  transform:rotate(30deg)scale(1.2);
  text-decoration:underline;
}

/* Main menu 
.menu {
  color: var(--font-color);
  width:60px;
  min-width:20ch;
  display:flex;
  flex-flow:column nowrap;
  font: 17px/1 'IM Fell English SC', serif;
  position:relative;
  transform:rotate(-30deg);
}

.menu::before {
  content:"/";
  align-self:center;
  transform:rotate(30deg);
  margin-bottom: 10px;
}

.menu::after {
  content:"/";
  align-self:center;
  transform:rotate(30deg);
  margin-top: 10px;
}

/*Fx

.menu { transition:transform 0.3s; }
.menu:hover { transform:rotate(0); }

.menu::before { transition:transform 0.5s; }
.menu:hover::before { transform:rotate(0); content:"__"; }
.menu::after { transition:transform 0.5s; }
.menu:hover::after { transform:rotate(0); content:"__"; }

.menu .menu-item a::after { transition:transform 0.3s }
.menu:hover .menu-item a::after { transform:rotate(0) }

.menu:hover > ol > .menu-item { opacity:0.3; }

.menu-item:hover {
  transition:background-color 0.3s;
  background: var(--primary-color);
  opacity:1 !important;
}

.menu-item:hover a::after {
  text-decoration:none;
}

.menu-item:hover > a::before {
  transition:flex-grow 0.3s;
  width:0; flex-grow:0;
  transform-origin:center bottom;
}

/* Collapse

.sub-menu > .menu-item {
  max-height:1ch;
  transform:scaleY(0.1);
  transform-origin:center top;
  transition:transform 0.2s, max-height 0.5s;
}

.menu:hover .sub-menu .menu-item {
  max-height:10em;
  transform:scaleY(1);
}

/*.navb {
  position: absolute;
bottom: 100%;
  right: 0;
  -webkit-transform: rotate(
-90deg);
  transform: rotate(
-90deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  margin-top: 3%;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.navb .bar a{
  position: relative;
  display: block;
color: var(--font-color);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  padding-right: 7%;
  padding-bottom: 5%;
  margin-top: 5%;
}*/

.sidenav {
height:100%;
width:0%;
position:fixed;
z-index:500;
top:0px;
left:0px;
  padding-top: 4px;
background-color:rgba(0,0,0,0.7);
overflow-x:hidden;
transition:0.5s;
padding-top:10%;
}

.sidenav a{
display:block;
color:var(--color-four);
padding: 6px 2px;
width:80%;
text-align:center;
text-decoration:none;
transition: all 0.5s;
position:relative;
font-size:30px;
font-weight:bold;
font-family:'Poiret One', cursive;
text-transform:uppercase;
}

.sidenav a::after {
position:absolute;
bottom:0px;
left:0px;
right:0px;
margin:auto;
width:0%;
content:'.';
color:transparent;
background-color:var(--color-three);
height:2px;
transition: all 0.5s;
}

.sidenav a:hover::after {
width:50%;
}

.sidenav a:hover {
color:var(--color-three);
}

.sidenav .close {
position:absolute;
top:60px;
right:35px;
font-size:36px;
width:10%;
}


@media screen and (max-height:450px) {
.sidenav {padding-top:15px;}
.sidenav a {font-size:18px;}
}

@media screen and (max-width:950px){
.nav-big {
  display:none !important;
}
.nav-small {
display: block!important;	
}	
}

.nav-big {
display:block;
}	

.nav-small{
display:none;
}

.nav-small .icon{
color:var(--color-three);
font-size: 35px;
padding:5px;
}

/* HOME */
.home{
  background-color: #fff;
}

h1{
  font-size: 50px;
  color: var(--font-color);
  text-align: center;
}

/*CHOCO 1*/
.choco1{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/bruh.png');
}

.choco1 h1{
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding-left: 2%;
}

.choco1 img{
  height: 75%;
  width: 65%;
}

/*CHERRY*/
.cherry{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/cherry.png');
}

.cherry h1{
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding-left: 2%;
}

.cherry img{
  height: 75%;
  width: 65%;
}

/*MINT*/
.mint{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/green.png');
}

.mint h1{
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding-left: 2%;
}

.mint img{
  height: 75%;
  width: 65%;
}