/* VARIABLES */
:root {
    --primary-color: #ffa35c;
    --secondary-color: #cc6a58;
    --lighter-bg-color: #eee;
    --font-color: #000;
    --bg-color: #fff;
    --switch-bg-color: rgba(0, 0, 0, 0.15);
    --loader-bg-color: #ffffff;
    --scroll-bg-color: #eee;
    --scroll-fg-color: #ccc;
    --moon: block;
    --sun: none;
    --invert: invert(0%);
}

[data-theme="dark"] {
    --primary-color: #ffa35c;
    --secondary-color:  #cc6a58;
    --lighter-bg-color: rgb(30, 30, 30);
    --font-color: #ffffff;
    --bg-color: #0a0a0a;
    --switch-bg-color: rgba(255, 255, 255, 0.15);
    --loader-bg-color: #151515;
    --scroll-bg-color: #0f0f0f;
    --scroll-fg-color: #272727;
    --moon: none;
    --sun: block;
    --invert: invert(100%);
}

/* PREREQUISITES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
}

hr {
    width: 85%;
    border-color: var(--lighter-bg-color);
    transition: 0.4s !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 0.8;
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 1;
}

.mainBod{
	display: none;
}

/* LOADER */
.loads-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 22%;
    
  }
  .loads-grid div {
    position: absolute;
    width: 21px;
    height: 21px;
    background: #523837;
    animation: lds-grid 1.2s linear infinite;
  }
  .loads-grid div:nth-child(1) {
    top: 15px;
    left: 15px;
    animation-delay: 0s;
  }
  .loads-grid div:nth-child(2) {
    top: 15px;
    left: 39px;
    animation-delay: -0.4s;
  }
  .loads-grid div:nth-child(3) {
    top: 15px;
    left: 63px;
    animation-delay: -0.8s;
  }
  .loads-grid div:nth-child(4) {
    top: 39px;
    left: 15px;
    animation-delay: -0.4s;
  }
  .loads-grid div:nth-child(5) {
    top: 39px;
    left: 39px;
    animation-delay: -0.8s;
  }
  .loads-grid div:nth-child(6) {
    top: 39px;
    left: 63px;
    animation-delay: -1.2s;
  }
  .loads-grid div:nth-child(7) {
    top: 63px;
    left: 15px;
    animation-delay: -0.8s;
  }
  .loads-grid div:nth-child(8) {
    top: 63px;
    left: 39px;
    animation-delay: -1.2s;
  }
  .loads-grid div:nth-child(9) {
    top: 63px;
    left: 63px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  

/* DARK MODE SWITCH */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
}

.theme-switch-wrapper a {
    margin: 10px 15px;
}

.theme-switch {
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
}

.theme-switch input {
    display: none;
}

.slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30;
    text-align: center;
    padding-top: 10px;
    background-color: var(--switch-bg-color);
    opacity: 0.5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.4s;
}

.slider:hover {
    opacity: 1;
}

.sun {
    display: var(--sun);
}

.moon {
    display: var(--moon);
}

.slider img {
    height: 30px;
}

.slider.round {
    border-radius: 50%;
}


/* HOME */
.home{
    background-color: var(--bg-color);
}

h1{
    font-size: 50;
    color: var(--font-color);
    text-align: center;
}

/*ABOUT*/

